<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- mybatis 설정 빈 등록 -->
	<!-- db.properties 파일을 읽어오겠다는 설정 -->
    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
       <property name="locations">
           <value>/WEB-INF/spring/mybatis/db.properties</value>
       </property>
    </bean>
    
    <bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
        <property name="driver"   value="${driver}" />
        <property name="url"      value="${url}" />
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
    </bean>
    
    <!-- myBatis 설정 파일 연결 -->
    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:/com/academy/library/mybatis/mybatis-config.xml" />
    </bean>
    
    <bean id="transactionManager" 
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
</beans>










